// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
footer {
  width: 100%;
  background-color:#afe;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

header{
  width: 100%;
  background-color:#afe;
  color: white;
  text-align: center;
  margin: auto;
  font-size: 12px;
  position: absolute;

}
html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: left;
  background-color: #f0ffff;
}

.container{
  padding-bottom: 200px;
  padding-top: 100px;
}
.button-space{
  padding-bottom: 20px;
}