<!DOCTYPE html>
<html>
<head>
  <title>bootstrap_exm</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <footer>
    <p>運営会社Otsuka株式会社</p>
    <p>© 1997-2019 Copyright Otsuka.</p>
  </footer>
 

</body>
</html>